body, html {
    margin: 0;
    padding: 0;
}

.oval-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.oval {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    overflow: hidden;

    border: 1px solid black;
}

.oval img {
    display: block;
    width: 100%;
    height: auto;
    filter: sepia(60%) saturate(80%) hue-rotate(25deg) brightness(1.0) contrast(1.2) opacity(0.95);
}